
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" rel="stylesheet" />
<style>
    .container {
        width: 750px;
        height: 500px;
        margin: 0 auto;
    }

    .conversation {
        height: 460px;
    }

    .userlist {
        width: 200px;
        height: 500px;
        float: left;
        border: 1px solid #000;
    }

    .chatPanel {
        width: 500px;
        height: 500px;
        float: right;
        border: 1px solid #000;
    }
</style>

<h2>Chat</h2>

<div class="container">
    <ul class="userlist"></ul>
    <div class="chatPanel">
        <ul class="conversation"></ul>
        <div>
            <input type="hidden" name="connectionId" value="" />
            <span>@(ViewBag.nickname) :</span>
            <input type="text" id="message" value="" />
            <input type="button" id="sendmessage" value="发送" />
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.6.4.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
<script src="~/signalR/hubs"></script>
<script src="~/Scripts/chat.js"></script>
<script src="~/Scripts/toastr.js"></script>
