
<form action="/Home/Chat" method="post">
    <div>
        <span>昵称：</span>
        <input type="text" name="nickname" value="Robin" />
        <input type="submit" name="btnEnter" value="进入聊天室" />
    </div>
	<div>
        IP: @ViewBag.ip
	</div>
</form>